
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div class="alert-success">
        <h2 class="display-4">soy pagina Home</h2>

    </div>


</div>
